.grid {
    height: 624px;
    width: 624px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: yellow; */
}

.cell {
    height: 208px;
    width: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}